.portfolio-page{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  h1{
    color: #262221;
    margin-bottom: 50px;
    margin-top: 21px;
    font-family: $proximaExtraB;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
  }
  .projects__wrapper{
    margin-bottom: 44px;
  }
}