.reviews{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  h1{
    color: #262221;
    font-family: $proximaExtraB;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 97px;
    margin-bottom: 50px;
  }
  &__wrapper{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    &__item{
      display: block;
      position: relative;
      float: left;
      margin-bottom: 54px;
      width:50%;
      &:last-child{
        padding-left: 44px;
        box-sizing: border-box;
      }
      &__user{
        width: 142px;
        height: 142px;
        display: block;
        position: relative;
        float: left;
        img{
          object-fit: cover;
          width: 100%;
        }
      }
      &__text{
        display: block;
        position: relative;
        float: left;
        width: 337px;
        margin-left: 32px;

        h1{
          color: #000000;
          font-family: $proximaBold;
          font-size: 21px;
          margin-top: 0;
          margin-bottom: 25px;
          font-weight: 700;
          text-transform: uppercase;
        }
        p{
          color: #000000;
          font-size: 15px;
          line-height: 22px;
          margin: 0 0 0 18px;
          float: left;
          position: relative;
          width: 317px;
          font-style: italic;
          span{
            opacity: 0.43;
            color: #000000;
            position: absolute;
            top: 10px;
            display: block;
            font-size: 42px;
            text-align: left;
            left: -25px;
            &:last-child{
              top: inherit;
              text-align: right;
              right: 0;
            }
          }

        }

      }
    }
    button{
      display: block;
      position: relative;
      width: 293px;
      height: 43px;
      background-color: #c1282d;
      border: none;
      margin: 0 auto;
      color: #ffffff;
      font-family: $proximaSemiB;
      font-size: 15px;
    }
  }
}